<!DOCTYPE html> 
<html lang="en"> 
<head>     
    <meta charset="UTF-8">     
    <title>My Website - About</title>     
    <link rel="stylesheet" href="/static/css/app.css"> 
</head> 
<body>     
    <h1>Jada-Rae Brown</h1>     
    <p>A 20 year old student in her final year of university. She enjoys web design
    and binge watching Netflix shows. She hopes that by the end of her univeristy experience
    she will be able to find a good job and have a meaningful career :D</p> 
</body> 
</html> 
